.GeminiChat {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.topContainer h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #575b5f;
  margin-bottom: 0.4rem;
}

.topContainer .model {
  display: inline-flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem 0.6rem;
  border-radius: 2rem;
  background-color: #e9eef6;
  color: #575b5f;
  font-weight: 600;
}

.topContainer .model img {
  height: 1rem;
}

.topContainer .profilePic {
  width: 2.2rem;
  border-radius: 50%;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 75vh;
  margin: 0 auto;
  overflow-y: auto;
}

.middleContainer::-webkit-scrollbar {
  display: none;
}

.centerAlign {
  justify-content: center;
  align-items: center;
}

.startAlign {
  justify-content: start;
  align-items: start;
}

.queryAndLoader {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 1rem;
}

.queryAndResponse {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-left: auto;
}

.query {
  padding: 1.2rem;
  margin-right: 2.5rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  background-color: #e9eef6;
}

.response {
  padding: 2rem;
}

.middleContainer .greet h1 {
  font-size: 2rem;
  font-weight: 550;
  background: linear-gradient(to right, #3283fe, #4e9fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
}

.chatBox form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 90%;
  max-width: 800px;
  height: 7rem;
  margin: 0 auto;
  border: 1px solid #999;
  border-radius: 2rem;
}

.chatBox input {
  border: none;
  outline: none;
  height: 2.5rem;
  width: inherit;
  margin: 1rem 0 0 1rem;
  /* border: 1px solid black; */
}

.chatBox .buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: 1rem;
  padding: 0.85rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease;
}

.chatBox .buttons:hover {
  background-color: #d7dadf;
}

.chatBox .buttons img {
  width: 1.2rem;
}
